<!DOCTYPE html>
<html>

<head>
    <title>Tree View</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">

    <!-- item template -->
    <script type="text/x-template" id="item-template">
        <li>
            <div :class="{bold: isFolder}" @click="toggle" @dblclick="makeFolder">
                {{ item.name }}
                <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
            </div>
            <ul v-show="isOpen" v-if="isFolder">
                <tree-item class="item" v-for="(child, index) in item.children" :key="index" :item="child" @make-folder="$emit('make-folder', $event)" @add-item="$emit('add-item', $event)"></tree-item>
                <li class="add" @click="$emit('add-item', item)">+</li>
            </ul>
        </li>
    </script>
</head>

<body>
    <p>(You can double click on an item to turn it into a folder.)</p>

    <!-- the demo root element -->
    <ul id="demo" class="menu-list">
        <tree-item class="item" :item="treeData" @make-folder="makeFolder" @add-item="addItem"></tree-item>
    </ul>

    <script>
        // demo data
        var treeData = {
            name: "praxis-academy",
            children: [{
                name: "kemampuan-dasar",
                children: [{
                    name: "kemampuan-dasar-1",
                    children: [{
                        name: "Latihan"
                    }]
                },{
                    name: "kemampuan-dasar-2",
                    children: [{
                        name: "praktik.md"
                    },{
                        name: "praktik-1.md"
                    },{
                        name: "README.md"
                    }]
                },{
                    name: "wawasan",
                    children: [{
                        name: "README.md"
                    }]
                }]
            }, {
                name: "novice",
                children: [{
                    name: "01-01",
                    children: [{
                        name: "Kasus",
                        children: [{
                            name: "kasus-1.js"
                        },{
                            name: "kasus-2.js"
                        }]
                    }, {
                        name: "Latihan",
                        children: [{
                            name: "latihan-1.js"
                        },{
                            name: "latihan-2.js"
                        },{
                            name: "latihan-3.js"
                        },{
                            name: "latihan-4.js"
                        },{
                            name: "latihan-5.js"
                        }]
                    },{
                        name: "README.md"
                    }]
                
                }]
                
            }]
        };

        // define the tree-item component
        Vue.component("tree-item", {
            template: "#item-template",
            props: {
                item: Object
            },
            data: function() {
                return {
                    isOpen: false
                };
            },
            computed: {
                isFolder: function() {
                    return this.item.children && this.item.children.length;
                }
            },
            methods: {
                toggle: function() {
                    if (this.isFolder) {
                        this.isOpen = !this.isOpen;
                    }
                },
                makeFolder: function() {
                    if (!this.isFolder) {
                        this.$emit("make-folder", this.item);
                        this.isOpen = true;
                    }
                }
            }
        });

        // boot up the demo
        var demo = new Vue({
            el: "#demo",
            data: {
                treeData: treeData
            },
            methods: {
                makeFolder: function(item) {
                    Vue.set(item, "children", []);
                    this.addItem(item);
                },
                addItem: function(item) {
                    item.children.push({
                        name: "new stuff"
                    });
                }
            }
        });
    </script>
</body>

</html>